@import "~normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap");

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  background: #3767ad;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}

.hydrapp {
  &__heading {
    margin: 0 0 64px 0;
    color: #ffffff;
    font-weight: 500;
    font-size: 55px;
    font-style: normal;
  }
}
.glass {
  width: 280px;
  height: 280px;
  background: url("../assets/img/water-glass.svg");
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  &__counter {
    color: #000000;
    font-weight: 500;
    font-size: 112px;
    font-style: normal;
  }
}

.btn-add {
  display: block;
  width: 216px;
  height: 47px;
  border-radius: 4px;
  background-color: #ffffff;
  color: #000000;
  border: none;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 48px 0 40px 0;
}
.btn-remove {
  color: #f5e5e7;
  background: none;
  border: none;
  font-style: normal;
  font-size: 14px;
  font-weight: 500;
}
